

<!--left-fixed -navigation-->
<div class=" sidebar" role="navigation">
    <div class="navbar-collapse">
        <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="/"><i class="fa fa-home nav_icon"></i>Dashboard</a>
                </li>
                <li>
                    <a href=""><i class="fa fa-cogs nav_icon"></i>Insert</a>

                </li>
                <li class="">
                    <a href="/display"><i class="fa fa-book nav_icon"></i>Display</a>
                </li>
                <li>
                    <a href="widgets.html"><i class="fa fa-th-large nav_icon"></i>Update </a>
                </li>
            </ul>
            <div class="clearfix"> </div>
            <!-- //sidebar-collapse -->
        </nav>
    </div>
</div>
</div>
<!--left-fixed -navigation-->
